html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.w3-black {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}
.w3-bar {
  display: inline-block;
  width: auto;
}
