html {
  background-color: teal;
}

#backBtn {
  background-color: white;
  position: relative;
  left: 0px;
  top: 0px;
  padding: 5px;
  border-radius: 4px;
}

#backBtn:hover {
  background-color: teal;
  color: white;
}

.w3-content {
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 10px 10px;
  width: 50%;
}

.show {
  position: relative;
  top: 50px;
}

* {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  position: relative;
  top: 50px;
  left: 500px;
  height: 46px;
  padding: 0 10px;
  background-color: black;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.w3-container {
  position: relative;
  top: 30px;
  padding: 20px;
}

.input_comment {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 100px;
  left: 180px;
  height: 400px;
  width: 400px;
  margin-top: 20px;
}

#commentBox {
  width: 450px;
  height: 50px;
  border-radius: 15px;
  box-shadow: 5px 5px;
}
input[type="text"] {
  width: 100%;

  font-family: $LATO;
  font-weight: 300;
  font-size: 1.3rem;

  padding: 10px;

  border: none;
  border-bottom: 2px solid lighten($GREY, 15%);

  &:focus {
    outline: none;
    border-bottom: 2px solid lighten($GREY, 10%);
  }
}
}
}


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
